#sp-score{
	font-size: 3.5rem
}
#sp-time, #sp-mistakes{
	font-weight: bold;
}
#sp-language, #sp-difficulty, #sp-theme{
	text-decoration-line: underline;
}
#sp-newHS{
	padding-block: var(--space);

	font-weight: bold;
}