:host{
	gap: var(--space);
}
.sp--group{
	display: flex;
	flex-flow: column;
	align-items: center;

	gap: var(--space-smallest);
}
.sp--group__row{
	flex-flow: row;
}

#sp-score{
	color: var(--color-primary);
	font-size: 3.5rem;
}
#sp-time, #sp-mistakes{
	font-weight: bold;
}
#sp-language, #sp-difficulty, #sp-theme{
	text-decoration-line: underline;
}

div:has(> #sp-newHS){
	padding-block: var(--space);
}
#sp-newHS{
	font-weight: bold;
}