<form id="mmp-form">
    <div>
        <label for="mmp-difficulty">Difficulty:</label>
        <select id="mmp-difficulty" name="difficulty" required></select>
    </div>

    <div>
        <label for="mmp-langage">Langage:</label>
        <select id="mmp-langage" name="langage" required></select>
    </div>

    <div>
        <label for="mmp-theme">Theme:</label>
        <select id="mmp-theme" name="theme" required></select>
    </div>

    <input type="submit" value="Ley's go!" />
</form>

<p>High-score: <span id="mmp-highScore"></span> points.</p>