<form id="mmp-form">
    <div class="form--group">
        <label for="mmp-difficulty">Difficulty:</label>
        <select id="mmp-difficulty"
			class="group--large"
			name="difficulty"
			required
		></select>
    </div>

    <div class="form--group">
        <label for="mmp-langage">Langage:</label>
        <select id="mmp-langage"
			class="group--large"
			name="langage"
			required
		></select>
    </div>

    <div class="form--group">
        <label for="mmp-theme">Theme:</label>
        <select id="mmp-theme"
			class="group--large"
			name="theme"
			required
		></select>
    </div>

    <input type="submit" value="Let's go!"/>
</form>

<p>High-score: <span id="mmp-highScore"></span> points.</p>