<p id="tp-text">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
	ullamcorper tincidunt ornare. Donec ut tellus sed purus rhoncus sodales .
	Sed ultricies malesuada scelerisque. Vestibulum rhoncus vulputate tortor
	tincidunt varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	Integer interdum vitae ante sed viverra. Duis maximus volutpat placerat.
	Nunc blandit tortor vel libero imperdiet faucibus. Fusce orci mi, semper ac
	velit sed, imperdiet bibendum magna. Suspendisse potenti. Vestibulum nec
	elit a nisl porta consectetur. Etiam pharetra dolor velit, tristique finibus
	velit lacinia id. Nullam orci elit, bibendum ut diam et, efficitur ornare
	dolor.
</p>

<button id="tp-debug-save">DEBUG: Save</button>